In [ ]:
import re
txt = "LinkedIn: Log In or Sign Up"
pattern = re.compile(r"log\s?-?in|sign\s?-?in|sign\s?-?up",re.IGNORECASE)
m = pattern.search(txt)

In [ ]:
import pandas as pd
df = pd.read_csv("results/selenium_scrap_results.csv")
df

In [ ]:
df.iloc[268,2]

In [ ]:
a = df.loc[df["apply_link"].filter(regex=r".*")]["apply_link"].to_list()

In [ ]:
import dotenv
import os
from selenium import webdriver
# from seleniumwire import webdriver 
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException,WebDriverException
from selenium.webdriver.chrome.options import Options
options = Options()
# options.add_experimental_option("debuggerAddress", "127.0.0.1:9222")
driver = webdriver.Chrome(options=options)
try:
    driver.get("https://www.google.com")
except WebDriverException as e:
    print(e.args)
driver.close()

In [ ]:
# driver.get('chrome-extension://eimadpbcbfnmbkopoojfekhnkhdbieeh/ui/popup/index.html')
driver.switch_to.frame(driver.find_element(By.TAG_NAME,"iframe"))

In [ ]:
els = driver.find_elements(By.XPATH, "//span[text()[contains(.,'Show qualification details')]]/parent::button")
print(len(els))
for e in els:
    e.click()

In [ ]:
try:
    raise Exception("shite","ok")
except Exception as e:
    print(e.args)

In [1]:
import pandas as pd
from ast import literal_eval
df = pd.read_csv("results/selenium_scrap_results.csv",converters={"skills":literal_eval})

In [ ]:
from functools import partial
from linkedIn_selenium.matcher import fuzz_match, find_matches
df["match_score"] = df["skills"].apply(func=lambda x: fuzz_match(x,my_skills,method='partial'))
df["match_score"].describe()
df["top_matches"] = df["skills"].apply(func=lambda x: find_matches(x,my_skills,70))

In [ ]:
from datetime import datetime
from linkedIn_selenium.db import get_crawl_time_id, get_original_query_id,insert_details
crawl_time_id = get_crawl_time_id(datetime.now().isoformat(timespec='minutes'))
original_query_id = get_original_query_id("Sag pedar")

In [ ]:
bdf.sample().to_dict(orient='tight')

In [ ]:
import sqlite3
q = " CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, j JSONB);"
conn = sqlite3.connect("test.sqlite")
conn.execute(q)
data = ("1,2,3",)
conn.execute("INSERT INTO test (j) VALUES (json_array(?));",data)
conn.commit()
conn.close()

In [14]:
from datetime import datetime
# datetime.strptime()
df['post_time'] = pd.to_datetime(df['post_time'])

In [16]:
df['crawl_time'] = pd.to_datetime(df['crawl_time'])

In [17]:
df.to_csv("results/selenium_scrap_results.csv",index=False)

In [15]:
df

,job_id,title,company_name,post_time,n_applicants,location,skills,is_repost,apply_link,post_time_raw,li_job_link,original_query,crawl_time
0,3854854427,Software Developer in Test,Xero,2024-03-13 02:01:00,NaN,"Calgary, AB",[],False,https://jobs.lever.co/xero/6c2e8a73-419f-450e-...,8 minutes ago,https://www.linkedin.com/jobs/view/3854854427/,junior python data engineer,2024-03-13T02:09
1,3851106410,Systems Developer (SSRS Reporting),Alquemy Search & Consulting,2024-03-13 01:59:00,1.0,"Toronto, ON",[],False,NaN,10 minutes ago,https://www.linkedin.com/jobs/view/3851106410/,junior python data engineer,2024-03-13T02:09
2,3851105745,Full stack Developer,Aversan Inc.,2024-03-13 01:56:00,8.0,"Montreal, QC",[],False,NaN,13 minutes ago,https://www.linkedin.com/jobs/view/3851105745/,junior python data engineer,2024-03-13T02:09
3,3851104769,Programmeur Web senior,ALFACONSEIL.CA,2024-03-13 01:51:00,0.0,"Montreal, QC",[],False,NaN,18 minutes ago,https://www.linkedin.com/jobs/view/3851104769/,junior python data engineer,2024-03-13T02:09
4,3851104386,Senior Software Engineer,Sun Life,2024-03-13 01:49:00,NaN,"Toronto, ON",[],False,NaN,20 minutes ago,https://www.linkedin.com/jobs/view/3851104386/,junior python data engineer,2024-03-13T02:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,3870676846,Salesforce Architect,CGI,2024-03-25 17:30:00,50.0,"Toronto, ON","[Cloud Services, Data Architecture, Microsoft ...",False,NaN,21 hours ago,https://www.linkedin.com/jobs/view/3870676846/,backend python software engineer,2024-03-26T15:51
579,3866980739,React Developer,Iris Software Inc.,2024-03-25 17:31:00,100.0,"Mississauga, ON","[Java, React.js]",False,NaN,21 hours ago,https://www.linkedin.com/jobs/view/3866980739/,backend python software engineer,2024-03-26T15:51
580,3866976094,Ruby on Rails Developer,Nexvant Solutions,2024-03-25 16:31:00,24.0,"Toronto, ON","[Amazon SQS, Attention to Detail, Front-End De...",False,NaN,22 hours ago,https://www.linkedin.com/jobs/view/3866976094/,backend python software engineer,2024-03-26T15:51
581,3835952516,Staff Backend Engineer,Consensys,2024-03-25 16:31:00,0.0,Canada,[Go (Programming Language)],True,https://consensys.io/open-roles/5628044?gh_jid...,Reposted 22 hours ago,https://www.linkedin.com/jobs/view/3835952516/,backend python software engineer,2024-03-26T15:51
582,3835959067,Senior Application Security Engineer,Consensys,2024-03-25 16:31:00,0.0,Canada,"[Application Security, Building Performance, C...",True,https://consensys.io/open-roles/5295282?gh_jid...,Reposted 22 hours ago,https://www.linkedin.com/jobs/view/3835959067/,backend python software engineer,2024-03-26T15:51